.what {
      color: #D63758;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.what_body {
  position: absolute;
    background-color: white;
    z-index: 9999;
    padding: 10px;
    border-radius: 5px;
    border: 1px black dashed;
    left: 0;
    display: none;
}